@page
@using Microsoft.Extensions.Localization
@using EShopOnAbp.CustomerService.Localization
@using EShopOnAbp.CustomerService.Web.Pages.CustomerService
@model EShopOnAbp.CustomerService.Web.Pages.CustomerService.IndexModel
@inject IStringLocalizer<CustomerServiceResource> L

@{
}
<h1>CustomerService</h1>
<p>@L["SamplePageMessage"]</p>
