@page "/CustomerService"
@using Microsoft.Extensions.Localization
@using global::EShopOnAbp.CustomerService.Localization
@inject IStringLocalizer<CustomerServiceResource> L
@{
}
<h1>CustomerService</h1>
<p>@L["SamplePageMessage"]</p>