@page
@using Microsoft.Extensions.Localization
@using EShopOnAbp.CurrencyService.Localization
@using EShopOnAbp.CurrencyService.Web.Pages.CurrencyService
@model EShopOnAbp.CurrencyService.Web.Pages.CurrencyService.IndexModel
@inject IStringLocalizer<CurrencyServiceResource> L

@{
}
<h1>CurrencyService Src Web PAge</h1>
<p>@L["SamplePageMessage"]</p>
