@page "/CurrencyService"
@using Microsoft.Extensions.Localization
@using global::EShopOnAbp.CurrencyService.Localization
@inject IStringLocalizer<CurrencyServiceResource> L
@{
}
<h1>CurrencyService Blazor page</h1>
<p>@L["SamplePageMessage"]</p>
<p>Welcom Bahaa</p>